.layout {
    display: grid;
    grid-template-columns: 22rem 1fr;
    grid-template-rows: 6rem auto 31rem;
    gap: 3rem;

    grid-template-areas: 'navBar navBar'
    'sideBar contentContainer'
    'sideBar footer';
}

.sideBar {
  grid-area: sideBar;

  position: fixed;
  top: 6rem;

  z-index: 5;
}

.navBar {
  grid-area: navBar;

  position: fixed;

  z-index: 5;
}

.contentContainer {
  grid-area: contentContainer;
  min-height: 79vh;
}

.layoutContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 3rem;

  grid-template-areas: 'spotlight'
  'popular'
  'upcoming';
}

.footer {
  margin-top: 4rem;
  grid-area: footer;
  background-color: #12162099;
  margin-left: -3rem;
  z-index: 4;

  display: grid;
  grid-template-columns: 1fr auto 1fr .1rem 1fr auto 1fr;
  grid-template-areas: '. footerTMDB . footerDivider . footerIGDB .';
}

.footerDivider {
  grid-area: footerDivider;
  border-left: .1rem solid #fff;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.footerTMDB, .footerIGDB {
  display: grid;
  grid-template-rows: 6.7rem repeat(2,auto);
  grid-template-columns: 1fr max-content 1fr;
  grid-template-areas:
  '. footerSectionLogo .'
  '. footerSectionTitle .'
  '. footerSectionText .';

  gap: 1rem;

  text-align: center;
  align-self: center;

  width: 40rem;
  height: 15rem;
}

.footerSectionTitle {
  grid-area: footerSectionTitle;
  padding-top: 2rem;
}

.footerSectionLogo {
  grid-area: footerSectionLogo;
  margin: 0 auto;
}

.footerSectionLink {
  grid-area: footerSectionLink;
}

.footerSectionText {
  grid-area: footerSectionText;
}

.footerTMDB {
  grid-area: footerTMDB;
}

.footerIGDB {
  grid-area: footerIGDB;
}

/* spotlight ------------------------------------------------------------------------------------------------------------------------------ */

.spotLight {
  grid-area: spotlight;
}

.spotlightLayout {
  display: grid;
  grid-template-columns: 20rem repeat(3, max-content) .7fr repeat(2, 2rem);
  grid-template-rows: repeat(2, auto) .2rem auto 1fr;
  gap: 2rem;
  row-gap: 1rem;

  grid-template-areas: 'spotlightImage spotlightTitle spotlightTitle spotlightTitle spotlightTitle spotlightWatchlist spotlightMoreOptions'
  'spotlightImage spotlightGenre spotlightRuntime spotlightReleaseYear . . .'
  'spotlightImage spotlightBorder spotlightBorder spotlightBorder spotlightBorder spotlightBorder spotlightBorder'
  'spotlightImage spotlightOverview spotlightOverview spotlightOverview spotlightOverview . .'
  'spotlightImage spotlightCTA spotlightCTA spotlightCTA . . .';

}

.spotlightImage {
  grid-area: spotlightImage;
}

.spotlightTitle {
  grid-area: spotlightTitle;
}

.spotlightWatchlist {
  grid-area: spotlightWatchlist;
}

.spotlightMoreOptions {
  grid-area: spotlightMoreOptions;
  padding-bottom: .7rem;
  outline: none;
}

.spotlightGenre {
  grid-area: spotlightGenre;
}

.spotlightRuntime {
  grid-area: spotlightRuntime;
}

.spotlightReleaseYear {
  grid-area: spotlightReleaseYear;
}

.spotlightOverview {
  grid-area: spotlightOverview;
  text-overflow: ellipsis;
  display: block;
  height: 14rem;
  width: 65rem;
  overflow: auto;
}

.spotlightOverview::-webkit-scrollbar {
  width: 8px;
  transform: translate(20px, 30px);
}

.spotlightOverview::-webkit-scrollbar-track {
  background-color: #ffffff20;
  border-radius: .4rem;
}

.spotlightOverview::-webkit-scrollbar-thumb {
  background-color: #ffffff50;
  border-radius: .4rem;
}

.spotlightBorder {
  grid-area: spotlightBorder;
  border-bottom: .2rem solid #fff;
}

.spotlightCTA {
  grid-area: spotlightCTA;
  border: none;
  background-color: #3764FC;
  border-radius: .3rem;

  height: 3rem;

  align-self: flex-end;

  outline: none;
}

/* spotlight ------------------------------------------------------------------------------------------------------------------------------ */

.popular {
  grid-area: popular;
}

.upcoming {
  grid-area: upcoming;
}

.listLayout {
  display: grid;
  grid-template-columns: repeat(5, 20rem);
  gap: 2.5rem;
}

.mediaTile {
  display: grid;
  grid-template-columns: 1rem 2rem 14rem 2rem 1rem;
  grid-template-rows: 1rem 1.8rem 21.3rem 5.4rem .5rem;

  grid-template-areas: '. . . . .'
  '. wishlistIcon . options .'
  '. . . . .'
  '. title title . .'
  '. . . . .';

  overflow: hidden;
}

.mediaTile::before {
  content: '';
  background-color: #00000050;
  grid-area: 1 / 1 / -1 / -1;
  z-index: 1;
}

.wishlistIcon {
  grid-area: wishlistIcon;
  z-index: 1;
}

.options {
  grid-area: options;
  z-index: 1;
}

.title {
  grid-area: title;
  height: 5.4rem;

  display: flex;
  align-items: flex-end;
  z-index: 1;
}

.imageMedia {
  font-size: 0;
  grid-area: 1 / 1 / -1 / -1;
  z-index: 0;

  & img {
    width: 100%;
    height: auto;
  }
}

/* login ---------------------------------------------------------------------------------------------------------------------------------- */
.login {
  display: grid;
  grid-template-columns: 12.6rem 2.2rem 4.3rem 4rem 4.3rem 2.2rem 12.6rem ;
  grid-template-rows: auto 1rem auto 3rem 4.2rem 2rem 4.2rem 2rem auto 3rem 4.2rem 4rem auto 4rem 4.5rem 5rem;
  grid-template-areas: 
  'loginTitle loginTitle loginTitle loginTitle loginTitle loginTitle loginTitle'
  '. . . . . . .'
  'loginSubtitle loginSubtitle loginSubtitle loginSubtitle loginSubtitle loginSubtitle loginSubtitle'
  '. . . . . . .'
  'loginEmail loginEmail loginEmail loginEmail loginEmail loginEmail loginEmail'
  '. . . . . . .'
  'loginPassword loginPassword loginPassword loginPassword loginPassword loginPassword loginPassword'
  '. . . . . . .'
  'loginRemember loginRemember loginRemember . loginForgot loginForgot loginForgot'
  '. . . . . . .'
  'loginButton loginButton loginButton loginButton loginButton loginButton loginButton'
  '. . . . . . .'
  'loginBorder1 loginBorder1 loginBorder1 loginOr loginBorder2 loginBorder2 loginBorder2'
  '. . . . . . .'
  'loginGoogle . loginTwitter loginTwitter loginTwitter . loginFacebook'
  '. . . . . . .'
  'loginRegister loginRegister loginRegister loginRegister loginRegister loginRegister loginRegister';

  text-align: center;
  margin-left: 75rem;
  margin-top: 8rem;

  outline: none;
  box-shadow: none;
}

.loginTitle {
  grid-area: loginTitle;
  text-align: left;
  height: 4rem;
}

.loginSubtitle {
  grid-area: loginSubtitle;
  text-align: left;
}

.loginEmail {
  grid-area: loginEmail;
}

.loginPassword {
  grid-area: loginPassword;
}

.loginRemember {
  grid-area: loginRemember;
  text-align: left;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginForgot {
  grid-area: loginForgot;
  text-align: right;
  color: #3764FC;
}

.loginButton {
  grid-area: loginButton;
  border: none;
  background-color: #3764FC;

  border-radius: .2rem;
  color: #fff;
}

.loginBorder1 {
  grid-area: loginBorder1;
}

.loginOr {
  grid-area: loginOr;
}

.loginBorder2 {
  grid-area: loginBorder2;
}

.loginGoogle {
  grid-area: loginGoogle;
}

.loginTwitter {
  grid-area: loginTwitter;
}

.loginFacebook {
  grid-area: loginFacebook;
}

.loginRegister {
  grid-area: loginRegister;
}

.loginRegisterButton {
  color: #3764FC
}

.loginEmail, .loginPassword {
  border: solid .13rem #3764FC;
  border-radius: .3rem;
  background-color: #EFEFEF;
  padding-left: 1rem;
}

.loginGoogle, .loginTwitter, .loginFacebook {
  background-color: #fff;
  border: none;
  
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.5);
box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.5);

border-radius: .2rem;
}

.loginButton, .loginGoogle, .loginTwitter, .loginFacebook, .loginEmail, .loginPassword {
  outline: none;
  box-shadow: none;
}

.loginButton::focus, .loginGoogle::focus, .loginTwitter::focus, .loginFacebook::focus {
  outline: none;
  box-shadow: none;
}

.loginBorder1:after, .loginBorder2:after {
  content: '';
  display: block;
  margin-top: 1.2rem;
  border-bottom: solid .1rem #fff;
}

/* Detail --------------------------------------------------------------------------------------------------------------------------------- */
.detail {
  display: grid;
  grid-template-columns: 27rem repeat(3, max-content) 1fr 3rem repeat(3, 5rem);
  grid-template-rows: repeat(2, auto) .2rem auto auto 1fr 2.5rem auto auto;
  grid-template-areas: 
  'detailImage detailTitle detailTitle detailTitle detailTitle detailTitle detailTitle . detailRating'
  'detailImage detailGenre detailRuntime detailReleaseYear . . detailButtons detailButtons detailButtons'
  'detailImage detailBorder detailBorder detailBorder detailBorder detailBorder detailBorder detailBorder detailBorder'
  'detailImage detailOverview detailOverview detailOverview detailOverview . detailDetails detailDetails detailDetails'
  'detailImage detailImdb detailImdb detailImdb detailImdb . detailDetails detailDetails detailDetails'
  'detailImage . . . . . detailDetails detailDetails detailDetails'
  '. . . . . . . . .'
  'detailCast detailCast detailCast detailCast detailCast detailCast detailCast detailCast .'
  'detailSimilar detailSimilar detailSimilar detailSimilar detailSimilar detailSimilar detailSimilar detailSimilar .';

  gap: 1.5rem;
  width: 110rem;
  padding-top: 1rem;

}

.detailTitle {
  padding-top: .8rem;
  grid-area: detailTitle;
}

.detailImage {
  grid-area: detailImage;
}

.detailRating {
  grid-area: detailRating;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.detailButtons {
  grid-area: detailButtons;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: center;
  align-content: center;
}

.detailGenre {
  grid-area: detailGenre;
}

.detailRuntime {
  grid-area: detailRuntime;
}

.detailReleaseYear {
  grid-area: detailReleaseYear;
}

.detailBorder {
  grid-area: detailBorder;
  /* border-bottom: .2rem solid #fff; */
}

.detailBorder:after {
content: '';
display: block;
margin-top: -1rem;
border-bottom: .2rem solid #fff;
}

.detailOverview {
  grid-area: detailOverview;
  overflow: auto;
  max-height: 26rem;
}

.detailOverview::-webkit-scrollbar {
  width: 8px;
  transform: translate(20px, 30px);
}

.detailOverview::-webkit-scrollbar-track {
  background-color: #ffffff20;
  border-radius: .4rem;
}

.detailOverview::-webkit-scrollbar-thumb {
  background-color: #ffffff50;
  border-radius: .4rem;
}

.detailOverviewText {
  margin-right: 1.5rem;
}

.detailDetails {
  grid-area: detailDetails;
}

.detailDetails div {
  padding-bottom: 1rem;
}

.detailImdb {
  grid-area: detailImdb;
}

.detailCast {
  grid-area: detailCast;
}

.castList {
  display: grid;
  grid-template-columns: repeat(5, 20rem);
  gap: 2.5rem;
  padding-bottom: 2rem;
}

.castTile {
  display: grid;
  grid-template-columns: 1rem 18rem 1rem;
  grid-template-rows: 1rem 22.5rem 5.5rem .5rem;

  grid-template-areas: '. . .'
  '. . .'
  '. castName .'
  '. . .';

  overflow: hidden;
}

.castTile::before {
  content: '';
  background-color: #00000050;
  grid-area: 1 / 1 / -1 / -1;
}

.castName {
  grid-area: castName;
  display: flex;
  align-items: flex-end;
}

.castImage {
    font-size: 0;
    grid-area: 1 / 1 / -1 / -1;
    z-index: -1;
  
    & img {
      width: 100%;
      height: auto;
    }
}

.detailSimilar {
  grid-area: detailSimilar;
}

.detailBackdrop {
  font-size: 0;
  grid-area: 1 / 1/ -1 /-1;
  z-index: -10;
  opacity: .2;
  filter: grayscale(100%) brightness(60%);
  position: fixed;
  top: 6rem;
  left: 20rem;

  overflow: hidden;

  width: 100vw;
}

/* List detail ---------------------------------------------------------------------------------------------------------------------------- */

.listDetailFormContainer {
  height: 20rem;
  padding-top: 2rem;
}

.listItemsSectionContainer {
  border-top: #fff solid .1rem;
  margin-right: 3rem;
  margin-top: .5rem;
}

.listItemsContainer {
  padding-top: 2rem;
}

.filterButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  margin-top: -3.5rem;
}

.listDetailForm {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.listDetailFormOrder {
  padding-right: 5rem;
}

.listDetailFormFilter {
  display: flex;
  flex-direction: row;
}

.listDetailFormType {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
}

.addlistContainer {
  padding-bottom: 2rem;
}

.active {
  display: none;
}

.moreOptions {
  background-color: #121620;
  position: absolute;
  top: 15rem;
  left: 119rem;

  padding: 1rem;

  border-radius: .2rem;
}

.moreOptionsItem {
  display: flex;
  align-items: center;
  padding-right: 2rem;
  padding-bottom: .5rem;
}

.moreOptionsItem:last-child, .moreOptionsMediaTile:last-child {
  padding-bottom: 0;
}

.moreOptionsItem p {
  padding-left: 1rem;
}

.moreOptionsMediaTile {
  background-color: #121620;
  position: relative;
  left: -9.5rem;
  width: 12rem;

  padding-left: 1rem;
  padding-bottom: .5rem;

  border-radius: .2rem;
}

/* Loading -------------------------------------------------------------------------------------------------------------------------------- */

.loading {
  position: absolute;
  left: 50%;
  margin: 2rem;
  margin-top: 5rem;
}

/* Profile -------------------------------------------------------------------------------------------------------------------------------- */

.profilebanner {
  display: grid;

  grid-template-columns: 15rem auto 1fr repeat(3, auto);
  grid-template-rows: 1fr auto auto 1fr;
  grid-template-areas: 'profilePic . . . . .'
  'profilePic profileName . profileMovies profileSeries profileGames'
  'profilePic profileFriends . profileMovies profileSeries profileGames'
  'profilePic profileAddFriends . . . .';

  gap: 1rem;

  margin-right: 5rem;

  margin-bottom: 5rem;
}

.profilePic {
  grid-area: profilePic;
  border-radius: 100rem;
  border: #3764FC solid .2rem;
}

.profileName {
  grid-area: profileName;
}

.profileFriends {
  grid-area: profileFriends;
}

.profileMovies, .profileSeries, .profileGames {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 2rem;
  align-self: center;
}

.profileMovies {
  grid-area: profileMovies;
}

.profileSeries {
  grid-area: profileSeries;
}

.profileGames {
  grid-area: profileGames;
}

.profileAddFriends {
  grid-area: profileAddFriends;
  border: none;
  background: none;
  padding: 0;

  text-decoration: underline;

  text-align: left;
}

/* List tile ------------------------------------------------------------------------------------------------------------------------------ */

.listContainer {
  border-top: #fff .2rem solid;

  padding-top: 2rem;

  display: grid;
  grid-template-columns: repeat(3, 34.5rem);
  gap: 1rem;
  width: 107.5rem;
}

.listTile {
  height: 17.5rem;
  width: 34.5rem;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto auto;

  grid-template-areas: '. listDelete'
  'listTitle .'
  'listCount .';

  background-color: #00000090;
  border: #3764FC solid .13rem;

  overflow: hidden;
}

.listImage {
    font-size: 0;
    grid-area: 1 / 1 / -1 / -1;
    z-index: -1;

}

.listImage img {
  width: 11.41rem;
  height: 100%;
}

.listTitle, .listCount {
  padding-left: 1rem;
}

.listTitle {
  grid-area: listTitle;
}

.listCount {
  grid-area: listCount;
  padding-bottom: .5rem;
}

.listDelete {
  grid-area: listDelete;
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  padding-top: 1rem;
  padding-right: 1rem;
}

.listDeleteButton {
  color: #fff;
}

.button {
  border: none;
  background: none;
  outline: none;
}

.listButtonContainer {
  display: flex;
  justify-content: space-around;
  width: 6rem;
}

.listsHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 107.5rem;
}

/* Add friends ---------------------------------------------------------------------------------------------------------------------------- */

.friendContainer {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.userContainer {
  display: grid;
  grid-template-columns: repeat(3, 34.5rem);
  gap: 1rem;
}

.userTile {
  height: 7rem;
  background-color: #12162050;
  border: solid .1rem #3764FC;

  display: grid;
  grid-template-columns: 6rem auto 10rem;
  grid-template-rows: 1fr auto 1fr;
  gap: 1rem;

  grid-template-areas: 'userImage userName userName'
  'userImage . userAdd'
  'userImage . userAdd';
}

.userImage {
  grid-area: userImage;
  align-self: center;
  padding-left: 1rem;
}

.userName {
  grid-area: userName;
  padding-top: 1rem;
}

.userAdd, .modalAddButton, .settingSubmit {
  grid-area: userAdd;
  color: #fff;
  background-color: #3764FC;
  border: none;
  border-radius: .2rem;
  margin-right: 1rem;

  width: 10rem;
  height: 2.5rem;
  text-align: center;
}

.userAdd {
  position: relative;
  left: -.5rem;
  top: -.5rem;
}

.userAddPositive {
  background: nonse;
}

.searchFriendsInput, .settingInput {
  outline: none;
  border: none;
  background: none;

  border-bottom: .1rem solid #fff;

  color: #fff;

  padding-bottom: .5rem;
  width: 20rem;

  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* Modal ------------------------------------------------------------------------------------------------------------------------------ */

.modalAddToList {
  display: grid;
  grid-template-columns: 1fr;
}

.modalTitle {
  text-align: center;
  color: #333;
  padding-top: 2rem;
  line-height: 1;
}

.modalArticle {
  display: flex;
  flex-direction: row;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 1rem;
}

.modalInput {
  border: none;
  border-bottom: .1rem solid #333;
  margin-left: 2rem;
  outline: none;
  width: 20rem;
}

.modalSubmit {
  background-color: #3764FC;
  outline: none;
  border: none;
  padding: .8rem;
  width: 10rem;
  border-radius: .2rem;
  margin-left: 5rem;
}

.modalForm {
  padding-top: 1rem;
}

.modalAddButton {
 padding: .5rem;
 width: 6rem;
}

/* Settings ------------------------------------------------------------------------------------------------------------------------------- */

.settings form {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.settingSubmit {
  width: 15rem;
}

.settingContainer, .settingLabelContainer {
  display: flex;
  flex-direction: column;
}