.layout {
    display: grid;
    grid-template-columns: 22rem 1fr;
    grid-template-rows: 6rem auto;
    gap: 3rem;

    grid-template-areas: 'navBar navBar'
    'sideBar contentContainer';
}

.sideBar {
  grid-area: sideBar;

  position: fixed;
  top: 6rem;
}

.navBar {
  grid-area: navBar;

  position: fixed;
}

.contentContainer {
  grid-area: contentContainer;
}

.layoutContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 3rem;

  grid-template-areas: 'spotlight'
  'popular'
  'upcoming';
}

/* spotlight ------------------------------------------------------------------------------------------------------------------------------ */

.spotLight {
  grid-area: spotlight;
}

.spotlightLayout {
  display: grid;
  grid-template-columns: 20rem repeat(3, max-content) .7fr repeat(2, 2rem);
  grid-template-rows: repeat(2, auto) .2rem auto 1fr;
  gap: 2rem;
  row-gap: 1rem;

  grid-template-areas: 'spotlightImage spotlightTitle spotlightTitle spotlightTitle spotlightTitle spotlightWatchlist spotlightMoreOptions'
  'spotlightImage spotlightGenre spotlightRuntime spotlightReleaseYear . . .'
  'spotlightImage spotlightBorder spotlightBorder spotlightBorder spotlightBorder spotlightBorder spotlightBorder'
  'spotlightImage spotlightOverview spotlightOverview spotlightOverview spotlightOverview . .'
  'spotlightImage spotlightCTA spotlightCTA spotlightCTA . . .';

}

.spotlightImage {
  grid-area: spotlightImage;
}

.spotlightTitle {
  grid-area: spotlightTitle;
}

.spotlightWatchlist {
  grid-area: spotlightWatchlist;
}

.spotlightMoreOptions {
  grid-area: spotlightMoreOptions;
  padding-bottom: .7rem;
  outline: none;
}

.spotlightGenre {
  grid-area: spotlightGenre;
}

.spotlightRuntime {
  grid-area: spotlightRuntime;
}

.spotlightReleaseYear {
  grid-area: spotlightReleaseYear;
}

.spotlightOverview {
  grid-area: spotlightOverview;
  text-overflow: ellipsis;
  display: block;
  height: 14rem;
  width: 65rem;
  overflow: auto;
}

.spotlightOverview::-webkit-scrollbar {
  width: 8px;
  transform: translate(20px, 30px);
}

.spotlightOverview::-webkit-scrollbar-track {
  background-color: #ffffff20;
  border-radius: .4rem;
}

.spotlightOverview::-webkit-scrollbar-thumb {
  background-color: #ffffff50;
  border-radius: .4rem;
}

.spotlightBorder {
  grid-area: spotlightBorder;
  border-bottom: .2rem solid #fff;
}

.spotlightCTA {
  grid-area: spotlightCTA;
  border: none;
  background-color: #3764FC;
  border-radius: .3rem;

  height: 3rem;

  align-self: flex-end;

  outline: none;
}

/* spotlight ------------------------------------------------------------------------------------------------------------------------------ */

.popular {
  grid-area: popular;
}

.upcoming {
  grid-area: upcoming;
}

.listLayout {
  display: grid;
  grid-template-columns: repeat(5, 20rem);
  gap: 2.5rem;
}

.mediaTile {
  display: grid;
  grid-template-columns: 1rem 2rem 14rem 2rem 1rem;
  grid-template-rows: 1rem 1.8rem 21.3rem 5.4rem .5rem;

  grid-template-areas: '. . . . .'
  '. wishlistIcon . options .'
  '. . . . .'
  '. title title . .'
  '. . . . .';

  overflow: hidden;
}

.mediaTile::before {
  content: '';
  background-color: #00000050;
  grid-area: 1 / 1 / -1 / -1;
}

.wishlistIcon {
  grid-area: wishlistIcon;
}

.options {
  grid-area: options;
}

.title {
  grid-area: title;
  height: 5.4rem;

  display: flex;
  align-items: flex-end;
}

.imageMedia {
  font-size: 0;
  grid-area: 1 / 1 / -1 / -1;
  z-index: -1;

  & img {
    width: 100%;
    height: auto;
  }
}

/* login ---------------------------------------------------------------------------------------------------------------------------------- */
.login {
  display: grid;
  grid-template-columns: 12.6rem 2.2rem 4.3rem 4rem 4.3rem 2.2rem 12.6rem ;
  grid-template-rows: auto 1rem auto 3rem 4.2rem 2rem 4.2rem 2rem auto 3rem 4.2rem 4rem auto 4rem 4.5rem 5rem;
  grid-template-areas: 
  'loginTitle loginTitle loginTitle loginTitle loginTitle loginTitle loginTitle'
  '. . . . . . .'
  'loginSubtitle loginSubtitle loginSubtitle loginSubtitle loginSubtitle loginSubtitle loginSubtitle'
  '. . . . . . .'
  'loginEmail loginEmail loginEmail loginEmail loginEmail loginEmail loginEmail'
  '. . . . . . .'
  'loginPassword loginPassword loginPassword loginPassword loginPassword loginPassword loginPassword'
  '. . . . . . .'
  'loginRemember loginRemember loginRemember . loginForgot loginForgot loginForgot'
  '. . . . . . .'
  'loginButton loginButton loginButton loginButton loginButton loginButton loginButton'
  '. . . . . . .'
  'loginBorder1 loginBorder1 loginBorder1 loginOr loginBorder2 loginBorder2 loginBorder2'
  '. . . . . . .'
  'loginGoogle . loginTwitter loginTwitter loginTwitter . loginFacebook'
  '. . . . . . .'
  'loginRegister loginRegister loginRegister loginRegister loginRegister loginRegister loginRegister';

  text-align: center;
  margin-left: 75rem;
  margin-top: 8rem;

  outline: none;
  box-shadow: none;
}

.loginTitle {
  grid-area: loginTitle;
  text-align: left;
  height: 4rem;
}

.loginSubtitle {
  grid-area: loginSubtitle;
  text-align: left;
}

.loginEmail {
  grid-area: loginEmail;
}

.loginPassword {
  grid-area: loginPassword;
}

.loginRemember {
  grid-area: loginRemember;
  text-align: left;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginForgot {
  grid-area: loginForgot;
  text-align: right;
  color: #3764FC;
}

.loginButton {
  grid-area: loginButton;
  border: none;
  background-color: #3764FC;

  border-radius: .2rem;
  color: #fff;
}

.loginBorder1 {
  grid-area: loginBorder1;
}

.loginOr {
  grid-area: loginOr;
}

.loginBorder2 {
  grid-area: loginBorder2;
}

.loginGoogle {
  grid-area: loginGoogle;
}

.loginTwitter {
  grid-area: loginTwitter;
}

.loginFacebook {
  grid-area: loginFacebook;
}

.loginRegister {
  grid-area: loginRegister;
}

.loginRegisterButton {
  color: #3764FC
}

.loginEmail, .loginPassword {
  border: solid .13rem #3764FC;
  border-radius: .3rem;
  background-color: #EFEFEF;
  padding-left: 1rem;
}

.loginGoogle, .loginTwitter, .loginFacebook {
  background-color: #fff;
  border: none;
  
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.5);
box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.5);

border-radius: .2rem;
}

.loginButton, .loginGoogle, .loginTwitter, .loginFacebook, .loginEmail, .loginPassword {
  outline: none;
  box-shadow: none;
}

.loginButton::focus, .loginGoogle::focus, .loginTwitter::focus, .loginFacebook::focus {
  outline: none;
  box-shadow: none;
}

.loginBorder1:after, .loginBorder2:after {
  content: '';
  display: block;
  margin-top: 1.2rem;
  border-bottom: solid .1rem #fff;
}

/* Detail --------------------------------------------------------------------------------------------------------------------------------- */
.detail {
  display: grid;
  grid-template-columns: 27rem repeat(3, max-content) 1fr 3rem repeat(3, 5rem);
  grid-template-rows: repeat(2, auto) .2rem auto auto 1fr 2.5rem 25.5rem;
  grid-template-areas: 
  'detailImage detailTitle detailTitle detailTitle detailTitle detailTitle detailTitle . detailRating'
  'detailImage detailGenre detailRuntime detailReleaseYear . . . . .'
  'detailImage detailBorder detailBorder detailBorder detailBorder detailBorder detailBorder detailBorder detailBorder'
  'detailImage detailOverview detailOverview detailOverview detailOverview . detailDetails detailDetails detailDetails'
  'detailImage detailImdb detailImdb detailImdb detailImdb . detailDetails detailDetails detailDetails'
  'detailImage . . . . . detailDetails detailDetails detailDetails'
  '. . . . . . . . .'
  'detailCast detailCast detailCast detailCast detailCast detailCast detailCast detailCast .';

  gap: 1.5rem;
  width: 110rem;
  padding-top: 1rem;

}

.detailTitle {
  padding-top: .8rem;
  grid-area: detailTitle;
}

.detailImage {
  grid-area: detailImage;
}

.detailRating {
  grid-area: detailRating;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.detailGenre {
  grid-area: detailGenre;
}

.detailRuntime {
  grid-area: detailRuntime;
}

.detailReleaseYear {
  grid-area: detailReleaseYear;
}

.detailBorder {
  grid-area: detailBorder;
  /* border-bottom: .2rem solid #fff; */
}

.detailBorder:after {
content: '';
display: block;
margin-top: -1rem;
border-bottom: .2rem solid #fff;
}

.detailOverview {
  grid-area: detailOverview;
  overflow: auto;
  max-height: 26rem;
}

.detailOverview::-webkit-scrollbar {
  width: 8px;
  transform: translate(20px, 30px);
}

.detailOverview::-webkit-scrollbar-track {
  background-color: #ffffff20;
  border-radius: .4rem;
}

.detailOverview::-webkit-scrollbar-thumb {
  background-color: #ffffff50;
  border-radius: .4rem;
}

.detailOverviewText {
  margin-right: 1.5rem;
}

.detailDetails {
  grid-area: detailDetails;
}

.detailDetails div {
  padding-bottom: 1rem;
}

.detailImdb {
  grid-area: detailImdb;
}

.detailCast {
  grid-area: detailCast;
}

.castList {
  display: grid;
  grid-template-columns: repeat(5, 15rem);
  gap: 1rem;
}

.castTile {
  display: grid;
  grid-template-columns: 1rem 13rem 1rem;
  grid-template-rows: 1rem 15.5rem 5.5rem .5rem;

  grid-template-areas: '. . .'
  '. . .'
  '. castName .'
  '. . .';

  overflow: hidden;
}

.castTile::before {
  content: '';
  background-color: #00000050;
  grid-area: 1 / 1 / -1 / -1;
}

.castName {
  grid-area: castName;
  display: flex;
  align-items: flex-end;
}

.castImage {
    font-size: 0;
    grid-area: 1 / 1 / -1 / -1;
    z-index: -1;
  
    & img {
      width: 100%;
      height: auto;
    }
}

.detailBackdrop {
  font-size: 0;
  grid-area: 1 / 1/ -1 /-1;
  z-index: -2;
  opacity: .2;
  filter: grayscale(100%) brightness(60%);
  position: fixed;
  top: 6rem;
  left: 20rem;

  overflow: hidden;

  &img {
    width: 100%;
    height: 100%;
  }
}

/* List detail ---------------------------------------------------------------------------------------------------------------------------- */

.listDetailFormContainer {
  height: 20rem;
  padding-top: 2rem;
}

.addlistContainer {
  padding-bottom: 2rem;
}

.active {
  display: none;
}

.moreOptions {
  background-color: #121620;
  position: absolute;
  top: 15rem;
  left: 119rem;

  padding: 1rem;

  border-radius: .2rem;
}

.moreOptionsItem {
  display: flex;
  align-items: center;
  padding-right: 2rem;
  padding-bottom: .5rem;
}

.moreOptionsItem:last-child {
  padding-bottom: 0;
}

.moreOptionsItem p {
  padding-left: 1rem;
}

.moreOPtionsMediaTile {
  background-color: #121620;
  position: relative;
  width: 20rem;
}